@model EpiserverSite.Models.Blocks.FactsColumnBlock
<div class="factsblock__column">
    <h3 @Html.EditAttributes(x => x.Heading)>@Model.Heading </h3>

    @Html.PropertyFor(x => x.Description)

    @Html.PropertyFor(x => x.LinkBlock)
</div>