@model EpiserverSite.Models.Blocks.LinkBlock


@if (!string.IsNullOrWhiteSpace(Model.LinkText))
{
    <a @Html.EditAttributes(x => x.LinkText) href="@Model.Link" class="linkblock">@Model.LinkText</a>
}