@model EpiserverSite.Models.Blocks.QuickBuyBlock

<div class="w-100 d-flex align-items-center justify-content-center my-3">
    <button class="btn btn-pink w-25">
        @(!string.IsNullOrWhiteSpace(Model.ButtonText) ? Model.ButtonText : "Bestill nå")
    </button>
</div>