@using ImageProcessor.Web.Episerver
@model EpiserverSite.Models.Blocks.TeaserBlock

@{
    var bg = Model.Image != null ? String.Format("style=background-image:url({0})", Html.ProcessImage(Url.Content(Url.ContentUrl(Model.Image))).ResizeCrop(800, 600, null, null)) : "";
}


<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" @bg>
    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 @Html.EditAttributes(x => x.Heading) class="pt-5 mt.5 mb-4 display-6 lh-1 fw-bold">@Model.Heading</h2>

        <p @Html.EditAttributes(x => x.Ingress) class="text-shadow-1">@Model.Ingress</p>

        <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#geo-fill"></use>
                </svg>
                <small>Earth</small>
            </li>
            <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#calendar3"></use>
                </svg>
                <small>3d</small>
            </li>
        </ul>
    </div>
</div>