@using EpiserverSite.Models
@model IPageViewModel<SitePageData>

<footer>
    <div class="d-flex w-100 footer-usp-container">
        <ul>
            @if (Model.Layout.FooterUSPs != null)
            {
            }
        </ul>
    </div>
    <div class="d-flex justify-content-around align-items-center flex-column">
        @Html.PropertyFor(x => x.Layout.PageLinks)
    </div>

    <div class="d-flex justify-content-around align-items-center flex-column contact-details">
        @Html.PropertyFor(x => x.Layout.ContactDetails)
    </div>
</footer>