@using EpiserverSite.Models
@model IPageViewModel<SitePageData>

<footer>
    <div class="d-flex justify-content-around align-items-center flex-column">
        @Html.PropertyFor(x => x.Layout.PageLinks)
    </div>
</footer>