@using EpiserverSite.Models
@model IPageViewModel<SitePageData>

<footer>
    <div class="d-flex w-100">
        <p>Ingen bindningstid</p>

        <p>Rett hjem i postkassen</p>

        <p>20% familjerabatt</p>


    </div>
    <div class="d-flex justify-content-around align-items-center flex-column">
        @Html.PropertyFor(x => x.Layout.PageLinks)
    </div>

    <div class="d-flex justify-content-around align-items-center flex-column contact-details">
        @Html.PropertyFor(x => x.Layout.ContactDetails)
    </div>
</footer>