@using EpiserverSite.Models
@model IPageViewModel<SitePageData>

<footer>
    <div class="row">
        <div class="col text-center">
            @Html.PropertyFor(x => x.Layout.Address)
        </div>
        <div class="col text-center">
            @Html.PropertyFor(x => x.Layout.OpeningHours)
        </div>
        <div class="col">
            @Html.PropertyFor(x => x.Layout.PageLinks)
        </div>
    </div>
</footer>