@model EpiserverSite.Models.ViewModels.FAQListingPageViewModel
<section class="FAQ-section">

    @if (Model.FAQPages.Any())
    {
        foreach (var FAQPage in Model.FAQPages)
        {

            {
                Html.RenderPartial("PagePartials/FAQPage", FAQPage);
            }
        }
    }

</section>