@import "variables";
footer{
    background-color:$footer-bg-color;
    .footer-links{
        list-style-type: none;
        .footer-link{
            
            .footer-link__item{
                color: $footer-link-color;
                text-decoration: none;
            }
        }
    }

    .contact-details{
        ul{

            width: 50%;
            list-style-type: none;
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            li{
                color: $footer-link-color;
            }
        }
    }
}