[class*="_green"]{
    color: green !important;
}
[class*="_pink"]{
    color: pink !important;
}
[class*="_orange"]{
    color: orange !important;
}
[class*="_blue"]{
    color: #A3DDF8 !important;
}

.icon--lg{
    font-size: 60px;
}
.icon--xl{
    font-size: 100px;
}

.icon--xxl{
    font-size: 200px;
}