$footer-bg-color: #595959;
$footer-link-color: #9B9B9B;
$footer-usp-bg-color: #EAF6FD;
$btn-pink-color: #EC008C;

$theme-color-light-beige: #FEEEE0;
$theme-color-light-pink: #FBE8F0;
$theme-color-light-blue: #EAF6FD;