@using EPiServer
@using ImageProcessor.Web.Episerver
@using Global = EpiserverSite.Global
@model EpiserverSite.Models.ViewModels.ArticleListingPageViewModel

<div class="row my-5">

    @Html.PropertyFor(x => x.MainContentArea, new
    {
        Tag = Global.ContentAreaTags.Horizontal,
        CssClass = "row w-100",
        ChildrenCssClass = "row",
    })
</div>

<div class="row my-5">
    @Html.PropertyFor(x => x.ArticleListings, new {Tag = Global.ContentAreaTags.Vertical, ChildrenCssClass = "col"})
</div>

@Html.PropertyFor(x => x.BottomContentArea, new {Tag = Global.ContentAreaTags.FullWidth, CssClass = "row"})