@using EPiServer
@using ImageProcessor.Web.Episerver
@using Global = EpiserverSite.Global
@model EpiserverSite.Models.ViewModels.ArticleListingPageViewModel

<div class="maincontent-area my-5">
    @Html.PropertyFor(x => x.MainContentArea, new
    {
        Tag = Global.ContentAreaTags.Vertical,
        CssClass = "flex-container",
    })
</div>

<div class="articlepage-horizontal-container my-5">
    @Html.PropertyFor(x => x.ArticleListings, new {Tag = Global.ContentAreaTags.Horizontal})
</div>

@Html.PropertyFor(x => x.BottomContentArea, new {Tag = Global.ContentAreaTags.FullWidth})