@using System.Web.Razor.Parser
@using EpiserverSite.Models.Pages
@using EpiserverSite;
@using ImageProcessor.Web.Episerver
@model EpiserverSite.Models.ViewModels.PageViewModel<EpiserverSite.Models.Pages.StartPage>

@{
    var bgImage = Model.CurrentPage.BackgroundImage != null ? string.Format("style=background-image:url({0})", Html.ProcessImage(Url.ContentUrl(Model.CurrentPage.BackgroundImage)).Resize(1920, null)) : "";
}

@section HeroSection
{

    <div class="hero-container row w-100 bg-image triangle-down" @bgImage>
        <div class="w-100 m-0 p-0">
            @{
                Html.RenderPartial("_Header", Model, new ViewDataDictionary
                {
                    {
                        "hasImage", Model.CurrentPage.BackgroundImage != null
                    }
                });
            }
        </div>
        <div class="row">
            <div class="w-50">
                @Html.PropertyFor(x => x.CurrentPage.RightContentArea, new
                {
                    CssClass = "align-items-center text-center justify-content-center flex-column d-flex",
                    Tag = Global.ContentAreaTags.HalfWidth,
                })
            </div>
            <div class="w-50">
                @Html.PropertyFor(x => x.CurrentPage.LeftContentArea, new
                {
                    CssClass = " align-items-center text-center justify-content-center flex-column d-flex",
                    Tag = Global.ContentAreaTags.HalfWidth
                })
            </div>
        </div>
    </div>
    <div class="row">
        @Html.PropertyFor(x => x.CurrentPage.ContentArea, new
        {
            CssClass = "row align-items-center text-center justify-content-center",
            Tag = Global.ContentAreaTags.FullWidth
        })
    </div>

}