@using System.Web.Razor.Parser
@using EpiserverSite.Models.Pages
@using EpiserverSite;
@using ImageProcessor.Web.Episerver
@model EpiserverSite.Models.ViewModels.PageViewModel<EpiserverSite.Models.Pages.StartPage>

@{
    var bgImage = Model.CurrentPage.BackgroundImage != null ? string.Format("style=background-image:url({0})", Html.ProcessImage(Url.Content(Url.ContentUrl(Model.CurrentPage.BackgroundImage))).ResizeCrop(1920, null, null, null)) : "";
}

@section HeroSection
{

    <div class="row w-100 h-100 bg-image" @bgImage>
        <div class="w-100 m-0 p-0">
            @{
                Html.RenderPartial("_Header", Model, new ViewDataDictionary
                {
                    {
                        "hasImage", Model.CurrentPage.BackgroundImage != null
                    }
                });
            }
        </div>
        <div class="row">
            @Html.PropertyFor(x => x.CurrentPage.RightContentArea, new
            {
                CssClass = "",
                Tag = Global.ContentAreaTags.HalfWidth,
            })


            @Html.PropertyFor(x => x.CurrentPage.LeftContentArea, new
            {
                CssClass = "",
                Tag = Global.ContentAreaTags.HalfWidth
            })
        </div>
        <div class="row">
            @Html.PropertyFor(x => x.CurrentPage.ContentArea, new
            {
                CssClass = "row",
                Tag = Global.ContentAreaTags.FullWidth
            })
        </div>
    </div>

}