@model EpiserverSite.Models.Pages.ArticlePage

<div class="col-md-6">
    @Html.PropertyFor(x => x.BackgroundImage, new {CssClass = "w-100"})
</div>
<div class="col-md-6">
    @Html.PropertyFor(x => x.Heading, new {CssClass = "display-4"})

    @Html.PropertyFor(x => x.Ingress, new {CssClass = "lead"})
</div>